window {
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

#input {
  background-color: #313244;
  color: #cdd6f4;
  border: none;
  padding: 8px;
}

#entry:selected {
  background-color: #45475a;
}
